numpy
pandas
matplotlib
seaborn
textdescriptives
pathlib
openai
tqdm
datetime
itertools
json
random
contractions
spacy
torch
scipy
math
transformers
sentence_transformers
collections
gensim
concurrent.futures
nltk.corpus
hanlp
csv